#bigCookie {
    width: 256px;
    height: 256px;
    position: absolute;
    left: -128px;
    top: -128px;
    background: url(https://raw.githubusercontent.com/BKHlovesgt7/bug-free-spork/refs/heads/main/empty.png);
    cursor: pointer;
    z-index: 10000;
    border-radius: 128px;
    border: none;
    overflow: hidden;
    outline: none;
}
